<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Mode" value="daily" />
    <add key="IntervalMinutes" value="1" />
    <add key="ScheduledTime" value="18:40" />
  </appSettings>
<connectionStrings><add name="WebOpsQCEntities" connectionString="metadata=res://*/Model.WebOpsModel.csdl|res://*/Model.WebOpsModel.ssdl|res://*/Model.WebOpsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SMNDT-170;Initial Catalog=WebOpsQC;User ID=sa;Password=sa123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>