<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WebOpsQCEntities" connectionString="metadata=res://*/WebOpsEntityModel.csdl|res://*/WebOpsEntityModel.ssdl|res://*/WebOpsEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SMNDT-170;Initial Catalog=WebOpsQC;User ID=sa;Password=sa123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>